.App {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.login-container {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-button {
  background-color: rgb(82, 140, 159);
  color: white;
}


.login-container h1 {
  font-size: 68px;
  margin: 0;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
