.App {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.login-container {
  background-color: rgb(24, 22, 22);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.decision-button {
  background-color: #fcdd6d;
  color: black;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.popup-close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.terms-text {
  font-size: 0.8rem;
  text-align: center;
  max-width: 300px; 
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0.25rem 1rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: #f1f3f4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-login-button:hover {
  background-color: #e0e0e0;
}

.google-login-button svg {
  color: #4285f4;
}

.google-login-button span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #3c4043;
}

.simple-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-title {
  font-size: 20px; 
  font-weight: bold; 
}

.login-container h1 {
  font-size: 38px;
  margin: 0;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Backdrop for non-google auth email/password entry popup */
.email-login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

/* Content container for the email login */
.email-login-content {
  position: relative; 
  background-color: #fff;
  padding: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  width: auto;
  max-width: 500px;
  z-index: 1051;
}

/* Style for all input fields within the .email-login-content */
.email-login-content input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box; /* ensures padding doesn't add to the width */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}




