body {
  margin: 0;
  font-family: 'Poppins',  sans-serif;
  font-weight: 400;
  font-style: Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Poppins',  sans-serif;
  font-weight: 400;

}

button:active {
  font-weight: 400;
  transition-duration: 200ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
